<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "件のエラー") %> により、このタスクを保存できませんでした</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_name, "タスク名" %>
    <%= form.text_field :task_name %>
  </div>

  <div class="field">
    <%= form.label :task_content, "タスク詳細" %>
    <%= form.text_area :task_content %>
  </div>
  
  <div class="field">
    <%= form.label :priority, "優先順位" %>
    <%= form.number_field :priority %>
  </div>

  <div class="field">
    <%= form.label :deadline, "終了期限" %>
    <%= form.datetime_field :deadline %>
  </div>

  <div class="field">
    <%= form.label :status, "ステータス" %>
    <%= form.select :status, ['未着手','着手中','完了'] %>
  </div>

  <div class="actions">
    <%= form.submit '登録する'%>
  </div>
<% end %>
