<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ラベルで検索
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <%= form_with(url: tasks_path, method: :get, local: true, class: 'form-inline my-2 my-lg-0 ml-auto') do |form| %>
      <%= form.label :name, "ラベルで検索" %>
      <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>
      <%= form.submit 'Search', name: nil, class: "btn btn-outline-info btn-sm" %>
    <% end %>
  </div>
</li>
<%= form_with(model: Task.new,method: :get, url: tasks_path, local: true, class: 'form-inline my-2 my-lg-0 ml-auto') do |f| %>
  <%= f.label :status, "状態検索" %>
  &nbsp;
  <%= f.select :status, ['未着手','着手中','完了'], id: 'form_control', name: 'select_status',include_blank: true, selected: '' %>
  <%= f.hidden_field :search, value: 'true' %>
  &nbsp;&nbsp;
  <%= f.text_field :task_name, class: 'form-control mr-sm-2' , id: 'search_task_names', placeholder: "タスク名で検索" %>
  <%= f.submit '検索', class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>
