<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <% if @tasks.empty? %>
    <br>
    <p class="new_task">タスクは何もありません。</p>
    <br>
  <% else %>
    <table class="table my-2">
      <thead class="text-center">
        <tr>
          <th scope="col">タスク名</th>
          <th scope="col">タスクの内容</th>
          <th scope="col">ラベル</th>
          <th scope="col">終了期限</th>
          <th scope="col">ステータス</th>
          <th scope="col">優先順位</th>
          <th scope="col">タスク管理</th>
        </tr>
      </thead>
      <% @tasks.each do |task| %>
        <tbody>
          <tr>
            <td class="text-center task_list"><%=task.task_name%></td>
            <td><%=task.task_content%></td>
            <td>
              <% task.labels.each do |label| %>
                <span class="badge badge-primary text-light mb-1"><%= label.name %></span>
              <% end %>
            </td>
            <td><%=task.deadline.strftime(("%Y/%m/%d"))%></td>
            <td><%=task.status%></td>
            <td><%=task.priority%></td>
            <td class="text-center">
              <%=link_to "詳細", task_path(task), class:"btn btn-primary mb-1" %>
              <%=link_to "編集", edit_task_path(task), class:"btn btn-primary mb-1" %>
              <%=link_to "削除", task_path(task), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger mb-1" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>
  <div class="new_task">
    <%= link_to 'タスクを追加', new_task_path ,class: "btn btn-primary btn-xs"%>
  </div>
  <div class="paginate" id="task_list" >
    <%= paginate @tasks %>
  </div>
</div>
