<p id="notice"><%= notice %></p>

<h1>タスク一覧</h1>

<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>タスクの内容</th>
      <th>終了期限</th>
      <th>登録日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.task_content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.created_at %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タスクを追加', new_task_path %>
