<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @task.id %>
</p>

<p>
  <strong>タスク名:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>タスクの内容:</strong>
  <%= @task.task_content %>
</p>

<p>
  <strong>優先順位:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @task.status %>
</p>
<p>
  <strong>終了期限:</strong>
  <%= @task.deadline %>
</p>
<p>
  <strong>登録日時:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>更新日時:</strong>
  <%= @task.updated_at %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<% if current_user.admin == true %>
  <%= link_to 'ユーザ一覧へ戻る', admin_user_path %>
<% else %>
  <%= link_to '戻る', tasks_path %>
<% end %>
