<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>タスクの内容:</strong>
  <%= @task.task_content %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
