<div class="container-fluid text-center">
  <div class="card w-50 task_card">
    <p id="notice"><%= notice %></p>

    <h2>
      <%= @user.user_name %>さんのタスク
    </h2>
    <hr>
    <p>
      <strong>タスク合計：</strong>
      <%= @user.tasks.count%>
    </p>

    <p>
      <strong>未着手:</strong>
      <%= @user.tasks.where(status: "未着手").count %>
    </p>

    <p>
      <strong>着手中:</strong>
      <%= @user.tasks.where(status: "着手中").count %>
    </p>
    <p>
      <strong>完了:</strong>
      <%= @user.tasks.where(status: "完了").count %>
    </p>

    <% if logged_in? && @user.id == current_user.id %>
      <p>
        <%= link_to 'プロフィール編集', edit_user_path(@user), class:"btn btn-primary mb-1"  unless @user.user_name == 'admin'  || @user.user_name == "ゲストユーザー" %>
      </p>
    <% end %>
    <p>
      <%= link_to '戻る', tasks_path %>
    </p>
  </div>
</div>
