<div class="container-fluid text-center">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "件のエラー") %> により、このタスクを保存できませんでした</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br>
    <div class="row justify-content-center">
      <%= form.label :user_name, class: "sr-only" %>
      <%= form.text_field :user_name, class: "form-control task_new",id: "inputUser",placeholder: "お名前" %>
    </div>
    <br>
    <div class="row justify-content-center">
      <%= form.label :email, class: "sr-only" %>
      <%= form.text_field :email, autofocus: true, autocomplete: "email", autocomplete: "email" ,class: "form-control task_new",id: "inputUser",placeholder: "メールアドレス" %>
    </div>
    <br>
    <div class="row justify-content-center">
      <%= form.label :password, class: "sr-only" %>
      <%= form.password_field :password, autocomplete: "new-password" ,class: "form-control task_new",id: "inputUser",placeholder: "パスワード (６文字以上) " %>
    </div>
    <br>
    <div class="row justify-content-center">
      <%= form.label :password_confirmation, class: "sr-only" %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control task_new",id: "inputUser",placeholder: "確認用パスワード" %>
    </div>
    <br>
    <div class="row justify-content-center">
      <% if current_user.admin == true %>
        <% unless @user.user_name == "admin" %>
          <%= form.label :admin %>
          <%= form.check_box :admin %>
        <% end %>
      <% end %>
    </div>
    <br>
    <div class="row justify-content-center col-xs-3">
      <%= form.submit "登録" ,class: "btn btn-lg btn-primary " %>
    </div>
  <% end %>
</div>
