<p id="notice"><%= notice %></p>

<h1>ユーザ管理画面</h1>
<div class="menu" class="container">

  <p>
  <nobr>
    <%= link_to "終了期限でソートする", tasks_path(sort_deadline: "true") %>
    <%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>

    <%= form_with(model: Task.new,method: :get, url: tasks_path, local: true) do |f| %>
      <%= f.label :task_name, "タスク名で検索" %>
      <%= f.text_field :task_name, class: 'form_control' , id: 'search_task_names' %>
      <%= f.label :status, "状態検索" %>
      <%= f.select :status, ['未着手','着手中','完了'], id: 'form_control', name: 'select_status',include_blank: true, selected: '' %>
      <%= f.hidden_field :search, value: 'true' %>
      <%= f.submit '検索'%>
    <% end %>
  </nobr>
  </p>
</div>

<div class="content" class="container">
  <table>
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>パスワード</th>
        <th>登録日時</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.user_name %></td>
          <td><%= user.email %></td>
          <td><%= user.password_digest %></td>
          <td><%= user.status %></td>
          <td><%= user.created_at %></td>
          <td><%= link_to '詳細', admin_user %></td>
          <td><%= link_to '編集', edit_admin_user(user) %></td>
          <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= paginate @users %>
