<!DOCTYPE html>
<html>
  <head>
    <title>ManyouTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>TASK APP</h1>
    <header class="header" class="container" >
      <ul class="row">
      <% if logged_in? %>
        <li><%= link_to "ユーザ情報", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        <li><%= link_to "タスク一覧", tasks_path %></li>
      <% else %>
        <li><%= link_to "アカウント作成", new_user_path %></li>
        <li><%= link_to "ログイン", new_session_path %></li>
      <% end %>
      </ul>
    </header>

    <div class="main" class="container">
    <%= yield %>
    </div>

    <footer class="footer">
    <p>運営会社task株式会社</p>
    <p>© 2000 - 2019 Copyright task Corp.</p>
    </footer>
  </body>
</html>
